@import "../hover/hover";

@mixin testtheme {
  @include hover;

  .v-table-cell-wrapper>.v-widget {border: 0pt;}

  .c-login-caption.v-label{
    color: #1b6198;
  }

  .uppercasefield{
    text-transform: uppercase;
  }
}